*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: aliceblue;
    place-items: center;
    height: 100vh;
}
header {
    height: 100px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 10%;
    padding: 20px 0;
}
.flex-color {
    background-color: hsl(31, 77%, 52%);
    padding: 5px 20px;
    border-radius:  10px;
    margin-right: 5px;
}
.grid-color {
    background-color: #d62828;
    padding: 5px 20px;
    border-radius:  10px;
}
main {
    display: grid;
    grid-template-areas: 
    "a a b"
    "c d d"
    "c e e"
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
}
main div {
    padding: 70px 20px;
    text-align: center;
}
.item-a {
    background-color: #003049;
    grid-area: a;
    padding: 100px 0;
}
.item-b {
    background-color: #d62828;
    grid-area: b;
    padding: 100px 0;
}
.item-c {
    background-color: #f77f00;
    grid-area: c;
}
.item-d {
    background-color: #fcbf49;
    grid-area: d;
}
.item-e {
    background-color: #eae2b7;
    grid-area: e;
}
