

/*MY CODE STARTS HERE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap" rel="stylesheet" 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

body{
    width: 1440px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}
header {
    height: 100px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 10%;
    padding: 20px 0;
}

.flex-color {
    background-color: hsl(31, 77%, 52%);
    padding: 5px 20px;
    border-radius:  10px;
}
.grid-color {
    background-color: hsl(184, 100%, 22%);
    padding: 5px 20px;
    border-radius:  10px;
}

.cards {
    display: flex;
    width: 800px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}
.card-details {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.card-details p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    flex-grow: 1;
}

.card-details h2{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
    color:  hsl(0, 0%, 95%);
}
.first {
    background-color: hsl(31, 77%, 52%);
}
.first button {
    color: hsl(31, 77%, 52%);
}
.second {
    background-color: hsl(184, 100%, 22%);
}
.second button{
    color: hsl(184, 100%, 22%);
}
.third {
    background-color:  hsl(179, 100%, 13%);
}
.third button {
    color:  hsl(179, 100%, 13%);
}
/*BUTTON*/

.card-details button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color:  hsl(0, 0%, 95%);
    outline: none;
    cursor: pointer;
    border: 2px solid  hsl(0, 0%, 95%);
}
.card-details button:hover {
    cursor: pointer;
    background-color: transparent;
    color:  hsl(0, 0%, 95%);
    
}
